.title {
  color: #fff;
  font-size: 1.6em;
}
.categories-container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
  border-radius: 20px;
}
.categories-container::-webkit-scrollbar {
  display: none;
}
.categories-div {
  background-color: #3483FA;
  border: none;
  border-radius: 13px;
  color: #fff;
  font-size: 1em;
  margin-right: 1em;
  transition: transform 600ms ease;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3px;
}
.categories-div:focus {
  transform: scale(1.08);
  background-color: #cdd706;
  color: #000;
}
.categories-div:hover {
  transform: scale(1.08);
  background-color: #cdd706;
  color: #000;
}
.categories-text{
  margin: 0;
  padding: 0 20px;
  display: inline;
  white-space: nowrap

}