.photo img {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    margin-left: 15px;
    border-radius: 50px; 

  }
  .cards-container {
    /* display: flex; 
    justify-content: center; 
    margin-top: 70px;
    overflow-x: auto;
    */
    display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
  border-radius: 20px;
  }

  .margin-gallery{
    margin-top: 50px;
  }